*{
    margin: 0;
    padding: 0;

}
header{
    height: 9vh;
    background-color: #4fa148;
    width: 100vw;
    border-bottom: #3b5c38 5px solid;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #93ac90;
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}
.botoes{
    font-size: 140%;
    padding-left: 5vw;
    padding-right: 5vw;
    
}
